<section class="caixa-sobre">
  <h2 class="titulo"><span>Sobre</span> Nós</h2>
  <div class="sobre-container">
    <div class="sobre-imagem">
      <img src="../assets/about-img.jpeg" alt="sobre cafeteria" />
    </div>

    <div class="sobre-texto">
      <h3>O que faz nosso café especial?</h3>
      <p>
        Nosso café é preparado com grãos selecionados das melhores plantações, garantindo um sabor autêntico e marcante. Utilizamos um processo artesanal de torrefação que realça os aromas e preserva a qualidade de cada xícara. Além disso, priorizamos ingredientes frescos e receitas exclusivas para proporcionar uma experiência única aos amantes de café. ☕😊
      </p>
      <p>
        Cada detalhe do nosso ambiente foi pensado para criar um espaço aconchegante, onde você pode relaxar e apreciar sua bebida favorita. Seja para um café da manhã especial, uma pausa à tarde ou um encontro com amigos, oferecemos um atendimento diferenciado e um cardápio repleto de delícias para acompanhar sua escolha.
      </p>
      <a class="botao-link">Saiba Mais</a>
    </div>
  </div>
</section>
