<div class="caixa-video">
  <div>
    <video src="../assets/coffe.mp4" loop muted autoplay></video>
    <div class="mascara"></div>
  </div>
</div>

<header>
  <section>
    <a href="#">
      <img src="../assets/logo.png" alt="logo cafeteria" />
    </a>
    <nav>
      <a href="#">Home</a>
      <a href="#">Sobre</a>
      <a href="#">Endereço</a>
    </nav>
  </section>
</header>

<section>
  <div>
    <h3>Venha conhecer o melhor café da região</h3>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorem
      perspiciatis nostrum recusandae veniam architecto repudiandae aspernatur
      ad a neque quos! Possimus impedit quisquam eos tenetur suscipit esse rerum
      delectus repudiandae?
    </p>
    <a href="#">Pegue o seu agora</a>
  </div>
</section>

<section>
  <h2><span>Sobre</span> Nós</h2>
  <div>
    <img src="../assets/about-img.jpeg" alt="sobre cafeteria" />
  </div>

  <div class="caixa-principal">
    <h3>O que faz nosso café especial?</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro praesentium possimus, inventore impedit asperiores sint. Ea iusto, omnis ab deserunt optio, pariatur unde, excepturi minima deleniti amet accusamus maiores in!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro praesentium possimus, inventore impedit asperiores sint. Ea iusto, omnis ab deserunt optio, pariatur unde, excepturi minima deleniti amet accusamus maiores in!
    </p>
    <a href="#">Saiba Mais</a>
  </div>
</section>
