html, body {
  height: 100%
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 10px;
  --main-color: #d3ad7f;
  --black: #131313;
  --bg: #010103;
  --border: 0.1rem solid rgba(255, 255, 255, 0.3);
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", serif;
}
